[submodule "libft"]
	path = libft
	url = git@github.com:MFelida/libft.git
	branch = inc_math
[submodule "ft_linalg"]
	path = ft_linalg
	url = git@github.com:/Mfelida/ft_linalg.git
[submodule "ft_dynarr"]
	path = ft_dynarr
	url = git@github.com:MFelida/ft_dynarr.git
[submodule "MLX42"]
	path = MLX42
	url = git@github.com:codam-coding-college/MLX42.git
